<%- layout('/layout/boilerplate') %>
<link rel="stylesheet" href="/css/homeCover.css">

<div class="cover d-flex flex-column mt-5">
  <h1 class="mb-4">Find your next cup of happiness.</h1>
  <h6 class="mt-3">Start by entering a cafe name, a location, or both!</h6>
  <div class="home-search">
    <%- include('./partials/searchBar') %>
  </div>
</div>