/* displaying image previews when adding new images */
.imageContainer {
  position: relative;
}

.imagePreview {
  width: 150px;
  height: 150px;
  object-fit: cover;
  padding: 5px;
  margin: 5px;
  border: 1px solid lightgray;
}

.deleteCheckbox {
  display: none;
}

.deleteCheckbox:checked + label {
  // blurring out images that are selected for deletion
  opacity: 0.3;
}

label > .imagePreview:hover {
  cursor: pointer;
}

/* styling for category buttons */
.category-btn {
  img {
    width: 40px;
    display: block;
    margin: auto;
  }

  input[type="checkbox"]:hover + label,
  input[type="checkbox"]:checked + label {
    background-color: lightblue;
  }

  // flip icon color to white
  input[type="checkbox"]:hover + label .icon,
  input[type="checkbox"]:checked + label .icon {
    filter: invert(1);
  }
}
