main {
  margin-left: 1em;
  margin-right: 1em;
}

.category {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 8px;
}

.cafe-card {
  margin-bottom: 1em;
}

.cafe-card:hover {
  transform: scale(1.03);
}

.cafe-card .card-title {
  font-size: 1.2em;
}

.cafe-card .card-subtitle {
  font-size: 0.9em;
}

.cafe-card p {
  font-size: 0.8em;
}

.sticky-top {
  top: 3em;
}

.stars {
  color: goldenrod;
  letter-spacing: 0.1em;
  font-size: 1.15em;
}

.star-count {
  color: black;
  font-size: 0.8em;
}

@media screen and (max-width: 992px) {
  .cafe-card .card-title {
    font-size: 1.25em;
  }

  .cafe-card .card-subtitle {
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) {
  #options {
    margin: 0;
  }

  .cafe-card {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 576px) {
  .cafe-card {
    margin-bottom: 0.5em;
    font-size: 3.5vw;
  }
  .card-body {
    padding: 0;
  }
  #toggleOptions {
    font-size: 0.79em;
  }
  #options {
    margin: 0 1em;
  }
}
