@import "./_mixins";
@import "./_navbar";
@import "./_home";
@import "./_cafeCards";
@import "./_options";
@import "./_forms";
@import "./_details";
@import "./searchResults";

body {
  font-family: "Shippori Antique", sans-serif;
  overflow-y: scroll;
}

.container-fluid {
  font-size: 1.1em;
}

.dropdown-item:focus {
  background-color: lightblue;
}

input[type="text"]:focus {
  box-shadow: none;
}

.sticky-top {
  top: 3em;
}

.sticky-top-0 {
  position: sticky;
  top: 0;
  z-index: 10;
}

.sticky-top-below {
  position: sticky;
  top: 3.5em;
}

.sticky-md-top {
  top: 1em;
}

.bi-star,
.bi-star-fill,
.bi-star-half {
  color: goldenrod;
  letter-spacing: 0.1em;
}
