.nav-link {
  padding: 0.25rem;
  margin: 0 0.25rem;
  border-bottom: 0.1rem solid transparent;
}

.nav-link:hover {
  border-bottom-color: rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .nav-link {
    margin: 0 0.5rem;
  }
}

.user-links-div {
  width: 50%;
  margin: 0.5rem auto;
}

#user-dropdown {
  z-index: 2000;
}

#search {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* div containing form */
#searchBar {
  background-color: white;
}

#searchBar form {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  #searchBar form {
    width: 75%;
  }
}

#searchBarBtns {
  margin-left: 0;
  margin-top: 0.5em;
  width: 75%;
}

@media only screen and (min-width: 576px) {
  #searchBarBtns {
    margin-left: 0.5em;
    margin-top: 0;
    width: auto;
  }
}

/* footer */
#credits {
  font-size: 12px;
}

.cover {
  line-height: 0.1em;
  color: white;
  width: 90%;
  text-align: center;
  margin: 8em auto;
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .cover {
    width: 60%;
  }
}

.cover .search-bar-btns {
  display: none;
}

.cover #home-search-btn {
  display: inline !important;
}

.cover h1 {
  font-family: "Source Serif Pro", serif;
  font-size: 2.5em;
  letter-spacing: 0.02em;
  line-height: 1;
  font-weight: bold;
}

.cover h1,
.cover h6 {
  text-shadow: 0 0 5px gray;
}

.category {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 0.5em;
}

.cafe-card {
  margin-bottom: 1em;
}

.cafe-card .card-title {
  font-size: 1em;
  font-weight: 600;
}

.cafe-card .card-subtitle {
  font-size: 0.9em;
}

.cafe-card p {
  font-size: 0.8em;
}

.cafe-card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  z-index: 5;
}

@media only screen and (max-width: 575px) {
  .cafe-card {
    font-size: 3.5vw;
  }
  .cafe-card .card-body {
    padding: 0;
  }
}

.cafe-card .distance {
  font-size: 0.8em;
}

.stars {
  font-size: 1.15em;
}

#toggleOptions:hover {
  cursor: pointer;
}

#sortAndFilter,
#sortAndFilter .btn-group label,
#sortAndFilter .btn-group-vertical label,
#sortAndFilter .btn {
  font-size: 0.8em;
}

.options-card {
  padding: 0;
}

.options-card .btn-outline-secondary {
  color: black;
}

.options-card .btn-outline-secondary:hover {
  color: white;
}

.options-card .btn-check:checked + .btn-outline-secondary {
  background-color: lightblue;
}

.options-card .form-check-input:checked {
  background-color: lightblue;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #category-list-group,
  #distance-list-group {
    width: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

/* displaying image previews when adding new images */
.imageContainer {
  position: relative;
}

.imagePreview {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 5px;
  margin: 5px;
  border: 1px solid lightgray;
}

.deleteCheckbox {
  display: none;
}

.deleteCheckbox:checked + label {
  opacity: 0.3;
}

label > .imagePreview:hover {
  cursor: pointer;
}

/* styling for category buttons */
.category-btn img {
  width: 40px;
  display: block;
  margin: auto;
}

.category-btn input[type="checkbox"]:hover + label,
.category-btn input[type="checkbox"]:checked + label {
  background-color: lightblue;
}

.category-btn input[type="checkbox"]:hover + label .icon,
.category-btn input[type="checkbox"]:checked + label .icon {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.stars-lg {
  font-size: 2em;
  letter-spacing: 0.15em;
}

.favorites {
  right: 0;
  top: 0;
}

#addFavorite {
  color: black;
  font-size: 3em;
}

#addFavorite:hover {
  color: #ff9999;
}

#removeFavorite {
  color: #ff9999;
  font-size: 3em;
}

#removeFavorite:hover {
  color: black;
}

.details-card .list-group-item {
  padding-left: 0;
  padding-right: 0;
}

.details-card .list-group-item > a {
  text-decoration: none;
}

.details-card .btn-outline-primary {
  padding: 1px 5px;
  font-size: 0.7em;
}

@media only screen and (max-width: 400px) {
  .details-card {
    font-size: 4vw;
  }
}

#loginToReview {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: #0d6efd;
  padding: 0;
}

#details-map {
  width: 90%;
  height: 275px;
  margin: 3em auto;
}

@media only screen and (min-width: 768px) {
  #details-map {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  #details-map {
    width: 60%;
  }
}

#reviews {
  font-size: 0.9em;
}

#reviews .card-title {
  font-size: 1.2em;
}

.stars-input {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.stars-input .bi-star,
.stars-input .bi-star-fill {
  font-size: 2em;
}

.stars-input .bi-star:hover,
.stars-input .bi-star-fill:hover {
  cursor: pointer;
}

.sticky-map {
  height: 85vh;
}

.hide-map {
  position: absolute;
  opacity: 0;
}

#map {
  width: 100%;
  height: 100%;
}

.pin {
  position: relative;
  z-index: 1;
  width: 28px;
  height: 35px;
  background: no-repeat center/contain url("../icons/map-pin-outline.png");
}

.mapboxgl-marker:hover,
.highlight {
  -webkit-filter: invert(1);
          filter: invert(1);
  z-index: 10;
  cursor: pointer;
}

/* number on the pin */
.pin-text {
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding-top: 25%;
}

.mapboxgl-popup-content {
  text-align: center;
  padding: 10px 10px 10px;
}

.mapboxgl-popup-content h5 {
  font-weight: bold;
  margin-bottom: 0;
}

#results .category {
  font-size: 0.8em;
}

#results .cafe-card {
  font-size: 3.5vw;
}

@media only screen and (min-width: 576px) {
  #results .cafe-card {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 768px) {
  #results .cafe-card {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 992px) {
  #results .cafe-card {
    font-size: 1em;
  }
}

@media only screen and (max-width: 575px) {
  #results .cafe-card .card-body {
    padding: 0;
  }
}

body {
  font-family: "Shippori Antique", sans-serif;
  overflow-y: scroll;
}

.container-fluid {
  font-size: 1.1em;
}

.dropdown-item:focus {
  background-color: lightblue;
}

input[type="text"]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sticky-top {
  top: 3em;
}

.sticky-top-0 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.sticky-top-below {
  position: -webkit-sticky;
  position: sticky;
  top: 3.5em;
}

.sticky-md-top {
  top: 1em;
}

.bi-star,
.bi-star-fill,
.bi-star-half {
  color: goldenrod;
  letter-spacing: 0.1em;
}
/*# sourceMappingURL=main.css.map */