.sticky-top-below {
  position: sticky;
  top: 5.5em;
}

.sticky-map {
  position: sticky;
  top: 4em;
  height: 85vh;
}

#mapContainer {
  height: 85vh;
}

/* #mapContainer .hide-map {
  height: 0;
} */

.hide-map {
  position: absolute;
  opacity: 0;
}

#map {
  width: 100%;
  height: 100%;
}

.pin {
  position: relative;
  z-index: 1;
  width: 28px;
  height: 35px;
  background: no-repeat center/contain url("../icons/map-pin-outline.png");
}

.mapboxgl-marker:hover,
.highlight {
  filter: invert(1);
  z-index: 10;
  cursor: pointer;
}

.pin-text {
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding-top: 25%;
}

.mapboxgl-popup-content {
  text-align: center;
  padding: 10px 10px 10px;
}

.mapboxgl-popup-content h5 {
  font-weight: bold;
  margin-bottom: 0;
}

#results {
  z-index: -100;
}

.category {
  /* border: 1px solid black;
  border-radius: 10px;
  padding: 0 0.5em; */
  font-size: 0.8em;
}

/* .cafe-card:hover {
  transform: scale(1.03);
  z-index: 10;
} */

/* .stars {
  color: goldenrod;
  letter-spacing: 0.1em;
  font-size: 1.15em;
} */

/* .cafe-card .card-title {
  font-size: 1em;
} */

/* .cafe-card .card-subtitle {
  font-size: 0.9em;
} */

/* .cafe-card p {
  font-size: 0.8em;
} */

@media screen and (min-width: 993px) and (max-width: 1140px) {
  .cafe-card {
    font-size: 1.2vw;
  }

  #priceFilters label {
    font-size: 1vw;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .cafe-card {
    font-size: 2vw;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  #options {
    margin: 0;
  }

  /* .cafe-card {
    font-size: 1.5vw;
  } */

  .card-body {
    padding-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .cafe-card {
    font-size: 3.5vw;
  }
  .card-body {
    padding: 0;
  }
  #toggleOptions {
    font-size: 0.79em;
  }
  #options {
    margin: 0 1em;
  }
}
