<footer class="footer bg-light py-2 mt-auto">
  <div class="container text-muted text-center" id="credits">
    &copy; 2022 Natalie Chen | Icons by <a target="_blank" class="text-muted"
      href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> & <a target="_blank"
      class="text-muted" href="https://www.freepik.com" title="Freepik">Freepik</a> from
    <a target="_blank" class="text-muted" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> |
    Photos by
    <a target="_blank" class="text-muted" href="https://www.matthewychen.com/" title="matthewchen">Matthew Chen </a>

  </div>
</footer>