<footer class="footer bg-light py-2 mt-auto">
    <div class="container">
        <span class="fs-6">&copy; 2021 Natalie Chen</span>
        <div id="credits" class="text-muted">Icons made by <a href="https://www.flaticon.com/authors/icongeek26"
                title="Icongeek26">Icongeek26</a>, <a href="https://www.flaticon.com/authors/creative-stall-premium"
                title="Creative Stall Premium">Creative Stall Premium</a> & <a href="https://www.freepik.com"
                title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> | Icons by svgrepo.com</div>

    </div>
</footer>